node_modules
.pnpm-store
.turbo
dist
.next
out
coverage
.env
.env.local
.env.*.local
*.log
.DS_Store
uploads
tmp
*.tsbuildinfo
.vercel
sentry.properties
firebase-adminsdk*.json
apps/web/public/sw.js
apps/web/public/sw.js.map
apps/web/public/workbox-*.js
apps/web/public/workbox-*.js.map
apps/web/public/swe-worker-*.js
